<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"> Image Caption Generator </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cappredictor">Caption Predictor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutproject">About Our Project</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact Us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.linkedin.com/in/neetu-kumawat-56b458171/" target="_blank" >Linkdin</a>
          <a class="dropdown-item" href="https://github.com/nk185545?tab=repositories" target="_blank">Github</a>
          <a class="dropdown-item" href="https://www.kaggle.com/ming666/flicker8k-dataset" target="_blank">Dataset Link</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
